<center>


<div class="submit">
<input type="text" ng-model="text.food" placeholder="Hipster Food">

<input type="text" ng-model="text.noun" placeholder="Trendy Noun">

<input type="text" ng-model="text.favFoodie" placeholder="Favorite Foodie"><br />

<input type="number" ng-model="text.number" placeholder="Cool Foodie Number">

<input type="text" ng-model="text.noun2" placeholder="Foodie Noun">

<input type="text" ng-model="text.adjective" placeholder="Hipster Discription">

<input type="text" ng-model="text.craftBeer" placeholder="Craft Beer">

<input type="text" ng-model="text.craftCoctail" placeholder="Craft Coctail">

<input type="text" ng-model="text.verb" placeholder="Hipster Verb">


<br />
<button id="button" ng-click="grabName(text)">Submit</button>
</div>
</center>
